@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}


.item {
    align-items: center;
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
    display: flex;
}

.collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

.item_image {
    width: 5rem;
    height: 5rem;
}

.slider {
    width: 40rem;
    height: 3rem;
    border-radius: 2rem;
    background: black;
    z-index: 0;
    position: relative;
}

.bar {
    width: 100%;
    height:100%;
    background: green;
    z-index: 1;
    border-radius: 2rem;
    font-size: 1rem;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top:-15px;
}

.skill_icon {
    border-radius: 10rem;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    width: 3rem;
    height: 3rem;
    align-items: center;
    display: flex;
    padding: auto;
    justify-content: center;
    position: absolute;
    z-index: 10;
}

.skill_icon_image {

    width: 2rem;
    height: 2rem;

}
.bar_text
{
    text-align: center;
    color:white;
    position:relative;
    z-index: 2;
}
.skills
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.collection_items
{
    display: flex;               /* Set the container to be a flex container */
    justify-content: center;     /* Center horizontally */
    align-items: center; 
    flex-direction: column;
}
.skill_header
{
    font-size: 5rem;
}